body {
    background-color: lightblue;
}

.newyork{
    opacity: 0.75;
}

#contact {
    color: rgb(46, 44, 44);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Mono', monospace;
}

#social {
    color: rgb(46, 44, 44);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.skills, .acting, .stunt, .voice, .character, .improvisation, .education, .experience, .key, .other, .physical {
    color: rgb(46, 44, 44);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Mono', monospace;
    text-decoration: underline;
}

.acting, .stunt, .voice, .character, .improvisation, .physical {
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

.Tom {
    border-top-style: outset;
    border-bottom-style: outset;
    border-top-color: red;
    border-bottom-color: red;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

li {
    color: rgb(46, 44, 44);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

p {
    color: rgb(46, 44, 44);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}
.col-md-6 {
    font-size: 20px;
    list-style-image: url('spiderman.png')
    
}

a:link {
    color: rgb(46, 44, 44);
}

a:visited {
    color: red;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: red;
}



